NFSE.Net/schemas/WSDL/Producao/PCampoBomRS.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.2_01-hudson-189-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.2_01-hudson-189-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.pc.gif.com.br/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.pc.gif.com.br/" name="ServicosService">
<types></types>
<message name="ping">
<part name="bd" type="xsd:string"></part>
</message>
<message name="pingResponse">
<part name="return" type="xsd:string"></part>
</message>
<message name="obterNotaFiscal">
<part name="xml" type="xsd:string"></part>
</message>
<message name="obterNotaFiscalResponse">
<part name="return" type="xsd:string"></part>
</message>
<message name="anularNotaFiscal">
<part name="xml" type="xsd:string"></part>
</message>
<message name="anularNotaFiscalResponse">
<part name="return" type="xsd:string"></part>
</message>
<message name="licencaTLS">
<part name="xml" type="xsd:string"></part>
</message>
<message name="licencaTLSResponse">
<part name="return" type="xsd:string"></part>
</message>
<message name="enviarLoteDms">
<part name="xml" type="xsd:string"></part>
</message>
<message name="enviarLoteDmsResponse">
<part name="return" type="xsd:string"></part>
</message>
<message name="obterStatusLoteDms">
<part name="xml" type="xsd:string"></part>
</message>
<message name="obterStatusLoteDmsResponse">
<part name="return" type="xsd:string"></part>
</message>
<message name="obterCriticaLoteDms">
<part name="xml" type="xsd:string"></part>
</message>
<message name="obterCriticaLoteDmsResponse">
<part name="return" type="xsd:string"></part>
</message>
<message name="obterReciboLote">
<part name="xml" type="xsd:string"></part>
</message>
<message name="obterReciboLoteResponse">
<part name="return" type="xsd:string"></part>
</message>
<message name="enviarLoteNotas">
<part name="xml" type="xsd:string"></part>
</message>
<message name="enviarLoteNotasResponse">
<part name="return" type="xsd:string"></part>
</message>
<message name="obterCriticaLote">
<part name="xml" type="xsd:string"></part>
</message>
<message name="obterCriticaLoteResponse">
<part name="return" type="xsd:string"></part>
</message>
<message name="obterLoteNotaFiscal">
<part name="xml" type="xsd:string"></part>
</message>
<message name="obterLoteNotaFiscalResponse">
<part name="return" type="xsd:string"></part>
</message>
<message name="obterNotasEmPNG">
<part name="xml" type="xsd:string"></part>
</message>
<message name="obterNotasEmPNGResponse">
<part name="return" type="xsd:string"></part>
</message>
<message name="consultarNotaFiscal">
<part name="xml" type="xsd:string"></part>
</message>
<message name="consultarNotaFiscalResponse">
<part name="return" type="xsd:string"></part>
</message>
<message name="cancelarLote">
<part name="xml" type="xsd:string"></part>
</message>
<message name="cancelarLoteResponse">
<part name="return" type="xsd:string"></part>
</message>
<message name="enviarLoteRPS">
<part name="xml" type="xsd:string"></part>
</message>
<message name="enviarLoteRPSResponse">
<part name="return" type="xsd:string"></part>
</message>
<message name="obterCriticaLoteRPS">
<part name="xml" type="xsd:string"></part>
</message>
<message name="obterCriticaLoteRPSResponse">
<part name="return" type="xsd:string"></part>
</message>
<message name="obterLicencaRPS">
<part name="xml" type="xsd:string"></part>
</message>
<message name="obterLicencaRPSResponse">
<part name="return" type="xsd:string"></part>
</message>
<message name="pedidoGuia">
<part name="xml" type="xsd:string"></part>
</message>
<message name="pedidoGuiaResponse">
<part name="return" type="xsd:string"></part>
</message>
<portType name="Servicos">
<operation name="ping" parameterOrder="bd">
<input message="tns:ping"></input>
<output message="tns:pingResponse"></output>
</operation>
<operation name="obterNotaFiscal" parameterOrder="xml">
<input message="tns:obterNotaFiscal"></input>
<output message="tns:obterNotaFiscalResponse"></output>
</operation>
<operation name="anularNotaFiscal" parameterOrder="xml">
<input message="tns:anularNotaFiscal"></input>
<output message="tns:anularNotaFiscalResponse"></output>
</operation>
<operation name="licencaTLS" parameterOrder="xml">
<input message="tns:licencaTLS"></input>
<output message="tns:licencaTLSResponse"></output>
</operation>
<operation name="enviarLoteDms" parameterOrder="xml">
<input message="tns:enviarLoteDms"></input>
<output message="tns:enviarLoteDmsResponse"></output>
</operation>
<operation name="obterStatusLoteDms" parameterOrder="xml">
<input message="tns:obterStatusLoteDms"></input>
<output message="tns:obterStatusLoteDmsResponse"></output>
</operation>
<operation name="obterCriticaLoteDms" parameterOrder="xml">
<input message="tns:obterCriticaLoteDms"></input>
<output message="tns:obterCriticaLoteDmsResponse"></output>
</operation>
<operation name="obterReciboLote" parameterOrder="xml">
<input message="tns:obterReciboLote"></input>
<output message="tns:obterReciboLoteResponse"></output>
</operation>
<operation name="enviarLoteNotas" parameterOrder="xml">
<input message="tns:enviarLoteNotas"></input>
<output message="tns:enviarLoteNotasResponse"></output>
</operation>
<operation name="obterCriticaLote" parameterOrder="xml">
<input message="tns:obterCriticaLote"></input>
<output message="tns:obterCriticaLoteResponse"></output>
</operation>
<operation name="obterLoteNotaFiscal" parameterOrder="xml">
<input message="tns:obterLoteNotaFiscal"></input>
<output message="tns:obterLoteNotaFiscalResponse"></output>
</operation>
<operation name="obterNotasEmPNG" parameterOrder="xml">
<input message="tns:obterNotasEmPNG"></input>
<output message="tns:obterNotasEmPNGResponse"></output>
</operation>
<operation name="consultarNotaFiscal" parameterOrder="xml">
<input message="tns:consultarNotaFiscal"></input>
<output message="tns:consultarNotaFiscalResponse"></output>
</operation>
<operation name="cancelarLote" parameterOrder="xml">
<input message="tns:cancelarLote"></input>
<output message="tns:cancelarLoteResponse"></output>
</operation>
<operation name="enviarLoteRPS" parameterOrder="xml">
<input message="tns:enviarLoteRPS"></input>
<output message="tns:enviarLoteRPSResponse"></output>
</operation>
<operation name="obterCriticaLoteRPS" parameterOrder="xml">
<input message="tns:obterCriticaLoteRPS"></input>
<output message="tns:obterCriticaLoteRPSResponse"></output>
</operation>
<operation name="obterLicencaRPS" parameterOrder="xml">
<input message="tns:obterLicencaRPS"></input>
<output message="tns:obterLicencaRPSResponse"></output>
</operation>
<operation name="pedidoGuia" parameterOrder="xml">
<input message="tns:pedidoGuia"></input>
<output message="tns:pedidoGuiaResponse"></output>
</operation>
</portType>
<binding name="ServicosPortBinding" type="tns:Servicos">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"></soap:binding>
<operation name="ping">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://ws.pc.gif.com.br/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://ws.pc.gif.com.br/"></soap:body>
</output>
</operation>
<operation name="obterNotaFiscal">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://ws.pc.gif.com.br/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://ws.pc.gif.com.br/"></soap:body>
</output>
</operation>
<operation name="anularNotaFiscal">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://ws.pc.gif.com.br/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://ws.pc.gif.com.br/"></soap:body>
</output>
</operation>
<operation name="licencaTLS">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://ws.pc.gif.com.br/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://ws.pc.gif.com.br/"></soap:body>
</output>
</operation>
<operation name="enviarLoteDms">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://ws.pc.gif.com.br/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://ws.pc.gif.com.br/"></soap:body>
</output>
</operation>
<operation name="obterStatusLoteDms">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://ws.pc.gif.com.br/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://ws.pc.gif.com.br/"></soap:body>
</output>
</operation>
<operation name="obterCriticaLoteDms">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://ws.pc.gif.com.br/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://ws.pc.gif.com.br/"></soap:body>
</output>
</operation>
<operation name="obterReciboLote">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://ws.pc.gif.com.br/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://ws.pc.gif.com.br/"></soap:body>
</output>
</operation>
<operation name="enviarLoteNotas">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://ws.pc.gif.com.br/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://ws.pc.gif.com.br/"></soap:body>
</output>
</operation>
<operation name="obterCriticaLote">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://ws.pc.gif.com.br/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://ws.pc.gif.com.br/"></soap:body>
</output>
</operation>
<operation name="obterLoteNotaFiscal">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://ws.pc.gif.com.br/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://ws.pc.gif.com.br/"></soap:body>
</output>
</operation>
<operation name="obterNotasEmPNG">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://ws.pc.gif.com.br/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://ws.pc.gif.com.br/"></soap:body>
</output>
</operation>
<operation name="consultarNotaFiscal">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://ws.pc.gif.com.br/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://ws.pc.gif.com.br/"></soap:body>
</output>
</operation>
<operation name="cancelarLote">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://ws.pc.gif.com.br/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://ws.pc.gif.com.br/"></soap:body>
</output>
</operation>
<operation name="enviarLoteRPS">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://ws.pc.gif.com.br/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://ws.pc.gif.com.br/"></soap:body>
</output>
</operation>
<operation name="obterCriticaLoteRPS">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://ws.pc.gif.com.br/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://ws.pc.gif.com.br/"></soap:body>
</output>
</operation>
<operation name="obterLicencaRPS">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://ws.pc.gif.com.br/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://ws.pc.gif.com.br/"></soap:body>
</output>
</operation>
<operation name="pedidoGuia">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://ws.pc.gif.com.br/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://ws.pc.gif.com.br/"></soap:body>
</output>
</operation>
</binding>
<service name="ServicosService">
<port name="ServicosPort" binding="tns:ServicosPortBinding">
<soap:address location="https://nfse.campobom.rs.gov.br:443/NFSe/ws"></soap:address>
</port>
</service>
</definitions>