NFSE.Net/schemas/WSDL/Producao/PCanoasRSCancelarNfse.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="CancelarNfse" targetNamespace="http://www.e-nfs.com.br" xmlns:wsdlns="http://www.e-nfs.com.br" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.e-nfs.com.br">
	<types>
		<schema targetNamespace="http://www.e-nfs.com.br" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" elementFormDefault="qualified">
			<element name="CancelarNfse.Execute">
				<complexType>
					<sequence>
						<element minOccurs="1" maxOccurs="1" name="Nfsecabecmsg" type="xsd:string"/>
						<element minOccurs="1" maxOccurs="1" name="Nfsedadosmsg" type="xsd:string"/>
					</sequence>
				</complexType>
			</element>
			<element name="CancelarNfse.ExecuteResponse">
				<complexType>
					<sequence>
						<element minOccurs="1" maxOccurs="1" name="Outputxml" type="xsd:string"/>
					</sequence>
				</complexType>
			</element>
		</schema>
	</types>
	<message name="CancelarNfse.ExecuteSoapIn">
		<part name="parameters" element="tns:CancelarNfse.Execute"/>
	</message>
	<message name="CancelarNfse.ExecuteSoapOut">
		<part name="parameters" element="tns:CancelarNfse.ExecuteResponse"/>
	</message>
	<portType name="CancelarNfseSoapPort">
		<operation name="Execute">
			<input message="wsdlns:CancelarNfse.ExecuteSoapIn"/>
			<output message="wsdlns:CancelarNfse.ExecuteSoapOut"/>
		</operation>
	</portType>
	<binding name="CancelarNfseSoapBinding" type="wsdlns:CancelarNfseSoapPort">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="Execute">
			<soap:operation soapAction="http://www.e-nfs.com.braction/ACANCELARNFSE.Execute"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="CancelarNfse">
		<port name="CancelarNfseSoapPort" binding="wsdlns:CancelarNfseSoapBinding">
			<soap:address location="http://www.e-nfs.com.br/e-nfs_canoas/servlet/acancelarnfse"/>
		</port>
	</service>
</definitions>
