NFSE.Net/schemas/WSDL/Producao/PCanoasRSConsultarSituacaoLoteRps.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="ConsultarSituacaoLoteRps" targetNamespace="http://www.e-nfs.com.br" xmlns:wsdlns="http://www.e-nfs.com.br" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.e-nfs.com.br">
	<types>
		<schema targetNamespace="http://www.e-nfs.com.br" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" elementFormDefault="qualified">
			<element name="ConsultarSituacaoLoteRps.Execute">
				<complexType>
					<sequence>
						<element minOccurs="1" maxOccurs="1" name="Nfsecabecmsg" type="xsd:string"/>
						<element minOccurs="1" maxOccurs="1" name="Nfsedadosmsg" type="xsd:string"/>
					</sequence>
				</complexType>
			</element>
			<element name="ConsultarSituacaoLoteRps.ExecuteResponse">
				<complexType>
					<sequence>
						<element minOccurs="1" maxOccurs="1" name="Outputxml" type="xsd:string"/>
					</sequence>
				</complexType>
			</element>
		</schema>
	</types>
	<message name="ConsultarSituacaoLoteRps.ExecuteSoapIn">
		<part name="parameters" element="tns:ConsultarSituacaoLoteRps.Execute"/>
	</message>
	<message name="ConsultarSituacaoLoteRps.ExecuteSoapOut">
		<part name="parameters" element="tns:ConsultarSituacaoLoteRps.ExecuteResponse"/>
	</message>
	<portType name="ConsultarSituacaoLoteRpsSoapPort">
		<operation name="Execute">
			<input message="wsdlns:ConsultarSituacaoLoteRps.ExecuteSoapIn"/>
			<output message="wsdlns:ConsultarSituacaoLoteRps.ExecuteSoapOut"/>
		</operation>
	</portType>
	<binding name="ConsultarSituacaoLoteRpsSoapBinding" type="wsdlns:ConsultarSituacaoLoteRpsSoapPort">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="Execute">
			<soap:operation soapAction="http://www.e-nfs.com.braction/ACONSULTARSITUACAOLOTERPS.Execute"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="ConsultarSituacaoLoteRps">
		<port name="ConsultarSituacaoLoteRpsSoapPort" binding="wsdlns:ConsultarSituacaoLoteRpsSoapBinding">
			<soap:address location="http://www.e-nfs.com.br/e-nfs_canoas/servlet/aconsultarsituacaoloterps"/>
		</port>
	</service>
</definitions>
