NFSE.Net/schemas/WSDL/Producao/PMonteNegroRSGuiasNFSE.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://server.nfse.thema.inf.br" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://server.nfse.thema.inf.br">
    <wsdl:documentation>
		Web Service para geração de guias de pagamento de ISS
	</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://server.nfse.thema.inf.br">
            <xs:element name="gerarGuiaFaturamentoPrestador">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="xml" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="gerarGuiaFaturamentoPrestadorResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="gerarGuiaFaturamentoPrestadorRequest">
        <wsdl:part name="parameters" element="ns:gerarGuiaFaturamentoPrestador"/>
    </wsdl:message>
    <wsdl:message name="gerarGuiaFaturamentoPrestadorResponse">
        <wsdl:part name="parameters" element="ns:gerarGuiaFaturamentoPrestadorResponse"/>
    </wsdl:message>
    <wsdl:portType name="NFSEguiasPortType">
        <wsdl:operation name="gerarGuiaFaturamentoPrestador">
            <wsdl:input message="ns:gerarGuiaFaturamentoPrestadorRequest" wsaw:Action="urn:gerarGuiaFaturamentoPrestador"/>
            <wsdl:output message="ns:gerarGuiaFaturamentoPrestadorResponse" wsaw:Action="urn:gerarGuiaFaturamentoPrestadorResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="NFSEguiasSoap11Binding" type="ns:NFSEguiasPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="gerarGuiaFaturamentoPrestador">
            <soap:operation soapAction="urn:gerarGuiaFaturamentoPrestador" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="NFSEguiasSoap12Binding" type="ns:NFSEguiasPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="gerarGuiaFaturamentoPrestador">
            <soap12:operation soapAction="urn:gerarGuiaFaturamentoPrestador" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="NFSEguiasHttpBinding" type="ns:NFSEguiasPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="gerarGuiaFaturamentoPrestador">
            <http:operation location="gerarGuiaFaturamentoPrestador"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="NFSEguias">
        <wsdl:port name="NFSEguiasHttpSoap11Endpoint" binding="ns:NFSEguiasSoap11Binding">
            <soap:address location="http://nfe.montenegro.rs.gov.br/thema-nfse/services/NFSEguias.NFSEguiasHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="NFSEguiasHttpsSoap11Endpoint" binding="ns:NFSEguiasSoap11Binding">
            <soap:address location="https://nfe.montenegro.rs.gov.br/thema-nfse/services/NFSEguias.NFSEguiasHttpsSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="NFSEguiasHttpSoap12Endpoint" binding="ns:NFSEguiasSoap12Binding">
            <soap12:address location="http://nfe.montenegro.rs.gov.br/thema-nfse/services/NFSEguias.NFSEguiasHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="NFSEguiasHttpsSoap12Endpoint" binding="ns:NFSEguiasSoap12Binding">
            <soap12:address location="https://nfe.montenegro.rs.gov.br/thema-nfse/services/NFSEguias.NFSEguiasHttpsSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="NFSEguiasHttpsEndpoint" binding="ns:NFSEguiasHttpBinding">
            <http:address location="https://nfe.montenegro.rs.gov.br/thema-nfse/services/NFSEguias.NFSEguiasHttpsEndpoint/"/>
        </wsdl:port>
        <wsdl:port name="NFSEguiasHttpEndpoint" binding="ns:NFSEguiasHttpBinding">
            <http:address location="http://nfe.montenegro.rs.gov.br/thema-nfse/services/NFSEguias.NFSEguiasHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
