NFSE.Net/schemas/WSDL/Homologacao/HISSOnLineApucarana.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="Nfse" targetNamespace="nfse" xmlns:tns="nfse" xmlns:wsdlns="nfse" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns1="ISS">
	<types>
		<schema targetNamespace="nfse" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" elementFormDefault="qualified">
			<import namespace="ISS"/>
			<element name="Nfse.Execute">
				<complexType>
					<sequence>
						<element minOccurs="1" maxOccurs="1" name="Operacao" type="xsd:byte"/>
						<element minOccurs="1" maxOccurs="1" name="Usuario" type="xsd:string"/>
						<element minOccurs="1" maxOccurs="1" name="Senha" type="xsd:string"/>
						<element minOccurs="1" maxOccurs="1" name="Webxml" type="xsd:string"/>
					</sequence>
				</complexType>
			</element>
			<element name="Nfse.ExecuteResponse">
				<complexType>
					<sequence>
						<element minOccurs="1" maxOccurs="1" name="Mensagem" type="xsd:string"/>
					</sequence>
				</complexType>
			</element>
		</schema>
	</types>
	<message name="Nfse.ExecuteSoapIn">
		<part name="parameters" element="tns:Nfse.Execute"/>
	</message>
	<message name="Nfse.ExecuteSoapOut">
		<part name="parameters" element="tns:Nfse.ExecuteResponse"/>
	</message>
	<portType name="NfseSoapPort">
		<operation name="Execute">
			<input message="wsdlns:Nfse.ExecuteSoapIn"/>
			<output message="wsdlns:Nfse.ExecuteSoapOut"/>
		</operation>
	</portType>
	<binding name="NfseSoapBinding" type="wsdlns:NfseSoapPort">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="Execute">
			<soap:operation soapAction="nfseaction/ANFSE.Execute"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="Nfse">
		<port name="NfseSoapPort" binding="wsdlns:NfseSoapBinding">
			<soap:address location="http://iss.apucarana.pr.gov.br:8080/receitas-teste/servlet/anfse"/>
		</port>
	</service>
</definitions>
